.AnimalRadio {
}

.AnimalRadio-wrapper {
  display: inline-block;
  cursor: pointer;
}

.AnimalRadio-el {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.AnimalRadio-image {
  display: inline-block;
  width: 146px;
  height: 146px;
  margin: 2px;
  border-radius: 2px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  vertical-align: top;
}

.AnimalRadio-image:hover {
  box-shadow: var(--shadow-large);
}

.AnimalRadio-el:checked + .AnimalRadio-image {
  border: 2px solid var(--color-orange);
  margin: 0;
  pointer-events: none;
}
