.Autocomplete {
  position: relative;
}

.Autocomplete-input {
}

.Autocomplete-optionList {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  max-height: 240px;
  overflow: auto;
  box-shadow: var(--shadow);
}

.Autocomplete-optionItem {
  border-bottom: 1px solid #e9e9e9;
}

.Autocomplete-option {
  display: inline-block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  background-color: var(--color-white);
  line-height: 24px;
  font: inherit;
  text-align: left;
  cursor: pointer;
  outline: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
}

.Autocomplete-option:focus {
  background-color: #e9e9e9;
}

.Autocomplete-option:hover {
  background-color: #e9e9e9;
}

.Autocomplete-option:active {
  background-color: #e9e9e9;
}

.Autocomplete-option:disabled {
  background-color: inherit;
  color: inherit;
}

.Autocomplete-option--selected {
  background-color: #e9e9e9;
  font-weight: 600;
  cursor: default;
}
