.Autocomplete {
  position: relative;
}

.Autocomplete-input {
}

.Autocomplete-optionList {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  border-radius: 2px;
  box-shadow: var(--shadow);
  overflow: auto;
}

.Autocomplete-optionItem {
  border-bottom: 1px solid #e9e9e9;
}
