.Autocomplete {
  position: relative;
}

.Autocomplete-input {
}

.Autocomplete-optionList {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.Autocomplete-optionListScroll {
  max-height: 200px;
  overflow: auto;
}

.Autocomplete-optionItem {
  border-bottom: 1px solid #e9e9e9;
}
