.Autocomplete {
  position: relative;
}

.Autocomplete-input {
}

.Autocomplete-optionList {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  max-height: 240px;
  overflow: auto;
  box-shadow: var(--shadow);
}

.Autocomplete-optionItem {
  border-bottom: 1px solid #e9e9e9;
}
