.Input {
  position: relative;
}

.Input-el {
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font: inherit;
  appearance: none;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.Input-el::placeholder {
  color: #bbb;
}

.Input-el--error {
  border: 1px solid #ff0000;
}

.Input-el--small {
  height: 32px;
  line-height: 30px;
}

.Input-el--withRightGap {
  padding-right: 40px;
}

.Input-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
