.ControlSize {
  border: 2px dashed var(--color-light-grey);
  animation-name: show-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes show-border {
  0% {
    border: 2px dashed var(--color-light-grey);
  }

  100% {
    border: 2px dashed transparent;
  }
}
