.QuestionnaireStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .QuestionnaireStep {
    display: block;
  }
}

.QuestionnaireStep--widte {
}

.QuestionnaireStep-title {
  width: var(--questionnaire-container-width);
  margin: 0;
  margin-bottom: 32px;
  line-height: 1.2;
  font-size: inherit;
  font-weight: 400;
}

.QuestionnaireStep-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .QuestionnaireStep-form {
    display: block;
  }
}

.QuestionnaireStep-content {
  width: var(--questionnaire-container-width);
  min-height: 240px;
}

.QuestionnaireStep--wide .QuestionnaireStep-content {
  width: 600px;
}

@media (max-width: 640px) {
  .QuestionnaireStep--wide .QuestionnaireStep-content {
    width: auto;
  }
}

.QuestionnaireStep-navigationGroup {
  display: flex;
  justify-content: space-between;
  width: var(--questionnaire-container-width);
  margin-top: 16px;
}

.QuestionnaireStep-navigationItem {
}
