.QuestionnaireProgress {
  display: flex;
  width: 400px;
}

.QuestionnaireProgress-item {
  margin-right: 12px;
}

.QuestionnaireProgress-item:last-child {
  margin-right: 0;
}

.QuestionnaireProgress-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  line-height: 40px;
  font-weight: 600;
  color: #ff9800;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.QuestionnaireProgress-link:focus {
  background-color: #f8f8f8;
}

.QuestionnaireProgress-link:hover {
  background-color: #f8f8f8;
}

.QuestionnaireProgress-link:active {
  background-color: #fff;
}

.QuestionnaireProgress-link--active {
  color: #000;
}

.QuestionnaireProgress-link--disabled {
  pointer-events: none;
  color: #bbb;
}
