.QuestionnaireProgress {
  display: flex;
}

.QuestionnaireProgress-item {
  margin-right: 12px;
}

.QuestionnaireProgress-item:last-child {
  margin-right: 0;
}

.QuestionnaireProgress-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  line-height: 40px;
  font-weight: 600;
  color: var(--color-orange);
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.QuestionnaireProgress-link:focus {
  background-color: var(--color-lightest-grey);
}

.QuestionnaireProgress-link:hover {
  background-color: var(--color-lightest-grey);
}

.QuestionnaireProgress-link:active {
  background-color: var(--color-white);
}

.QuestionnaireProgress-link--active {
  color: var(--color-black);
}

.QuestionnaireProgress-link--disabled {
  pointer-events: none;
  color: var(--color-light-grey);
}
