.Questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .Questionnaire {
    display: block;
  }
}

.Questionnaire-progress {
  width: var(--questionnaire-container-width);
  margin-bottom: 16px;
}

.Questionnaire-stepsScene {
}
