.Questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Questionnaire-progress {
  width: var(--questionnaire-container-width);
  margin-bottom: 24px;
}

.Questionnaire-stepsScene {
}
