.AutocompleteOption {
  display: inline-block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  background-color: var(--color-white);
  line-height: 24px;
  font: inherit;
  text-align: left;
  cursor: pointer;
  outline: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
}

.AutocompleteOption:focus {
  background-color: #e9e9e9;
}

.AutocompleteOption:hover {
  background-color: #e9e9e9;
}

.AutocompleteOption:active {
  background-color: #e9e9e9;
}

.AutocompleteOption:disabled {
  background-color: inherit;
  color: inherit;
}

.AutocompleteOption--selected {
  font-weight: 600;
  cursor: default;
}

.AutocompleteOption--highlighted {
  background-color: #e9e9e9;
}
