.FavoriteAnimalQuesitonnaireStep {
}

.FavoriteAnimalQuesitonnaireStep-gridHolder {
  overflow: hidden;
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-gridHolder {
    max-width: 280px;
    margin: 0 auto;
  }
}

.FavoriteAnimalQuesitonnaireStep-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-grid {
    margin: -4px;
  }
}

.FavoriteAnimalQuesitonnaireStep-item {
  flex: 0 0 25%;
  padding: 8px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-item {
    flex: 0 0 50%;
    padding: 4px;
  }
}

.FavoriteAnimalQuesitonnaireStep-error {
  color: var(--color-red);
}
