.FavoriteAnimalQuesitonnaireStep {
}

.FavoriteAnimalQuesitonnaireStep-gridHolder {
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-gridHolder {
    max-width: 280px;
    margin: 0 auto;
  }
}

.FavoriteAnimalQuesitonnaireStep-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-grid {
    margin: -4px;
  }
}

.FavoriteAnimalQuesitonnaireStep-item {
  flex: 0 0 25%;
  padding: 8px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .FavoriteAnimalQuesitonnaireStep-item {
    flex: 0 0 50%;
    padding: 4px;
  }
}

.FavoriteAnimalQuesitonnaireStep-error {
  color: #ff0000;
}

@media (max-width: 1100px) {
  .FavoriteAnimalQuesitonnaireStep-error {
    left: 0;
    right: auto;
    top: calc(100% + 2px);
    transform: none;
    max-width: auto;
    font-size: 12px;
  }
}
