.FavoriteAnimalQuesitonnaireStep {
}

.FavoriteAnimalQuesitonnaireStep-grid {
  display: flex;
}

.FavoriteAnimalQuesitonnaireStep-item {
  margin-right: 16px;
}

.FavoriteAnimalQuesitonnaireStep-item:last-child {
  margin-right: 0;
}

.FavoriteAnimalQuesitonnaireStep-error {
  color: var(--color-red);
}
