.IconContainer {
  display: inline-block;
  height: 24px;
  min-width: 24px;
  vertical-align: top;
}

.IconContainer--size-normal {
}

.IconContainer--size-inline {
  height: 1em;
  min-width: 1em;
  line-height: 1;
}
