@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), local("Open Sans Regular"),
    url("./assets/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
