.OverviewCard {
  display: flex;
  padding: 24px;
  border-radius: 2px;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
}

@media (max-width: 560px) {
  .OverviewCard {
    display: block;
  }
}

.OverviewCard-contentCol {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
  overflow: hidden;
}

@media (max-width: 560px) {
  .OverviewCard-contentCol {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.OverviewCard-personal {
  margin-bottom: 16px;
}

.OverviewCard-fullName {
  margin: 0;
  margin-bottom: 4px;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}

.OverviewCard-email {
  color: var(--color-grey);
  text-overflow: ellipsis;
  overflow: hidden;
}

.OverviewCard-location {
  color: var(--color-grey);
}

.OverviewCard-socialList {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.OverviewCard-socialItem {
  margin-bottom: 2px;
}

.OverviewCard-socialItem:last-child {
  margin-bottom: 0;
}

.OverviewCard-social {
  display: flex;
  white-space: nowrap;
}

.OverviewCard-socialTitle {
  flex: 0 0 auto;
  display: inline-block;
  margin-right: 4px;
  color: var(--color-blue);
}

.OverviewCard-socialLink {
  flex: 1 1 auto;
  color: var(--color-grey);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s ease-in-out;
}

.OverviewCard-socialLink:focus {
  opacity: 0.8;
}

.OverviewCard-socialLink:hover {
  opacity: 0.8;
}

.OverviewCard-socialLink:active {
  opacity: 0.8;
}

.OverviewCard-imageCol {
  flex: 0 0 200px;
}

.OverviewCard-imagePositioner {
  position: relative;
  padding-top: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.OverviewCard-imageHolder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
